* {
  box-sizing: border-box;
}

html,body {
    font-size: 14px;
    height: 100%;
    margin: 0;
    background: rgba(0,0,0,1);
}
.hero {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    left: 0px;
    background-image: url("../images/logo wide.png");
    background-size: cover;
    position: relative;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
}
.divider {
  color: rgba(255,255,255,1);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 50px;
  top: 0px;
  display: block;
  font-family: Rokkitt;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/v1_172.png");
    background-size: cover;
    height: 100%;
    display: inline;
    position: relative;
    background-position: center center;
    background-repeat: repeat-y;
}

.about {
    height: 80%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    float: top;
    clear: both;
}

.aboutpic {
  width: 70%;
  height: 100%;
  background: url("../images/v1_173.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: left;
  opacity: 1;
  position: absolute;
  overflow: visible;
}

.abouttext {
  width: 56%;
  max-height: 100%;
  color: rgba(255,255,255,1);
  overflow-wrap: break-word;
  line-height: 1.5;
  z-index: 9999;
  left: 40%;
  display: block;
  bottom: 20px;
  margin-top: auto;
  font-family: Roboto;
  position: absolute;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  overflow: scroll;
}
.pics {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  height: 180%;
  background: url("../images/v1_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  display: block;
  position: relative;
  float: top;
}
.v1_184 {
  width: 55%;
  height: 40%;
  background: url("../images/v1_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_185 {
  width: 45%;
  height: 50%;
  background: url("../images/v1_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 56%;
  overflow: hidden;
}
.v1_186 {
  height: 60%;
  width: 55%;
  background: url("../images/v1_186 copy.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41%;
  left: 0px;
  overflow: hidden;
}
.v1_187 {
  height: 50%;
  width: 45%;  
  background: url("../images/v1_187.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51%;
  left: 56%;
  overflow: hidden;
}
.v1_188 {
  width: 100%;
  height: 20%;
  background: url("../images/v1_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300%
  left: 0px;
  overflow: hidden;
}
.v1_189 {
  height: 40%;
  width: 100%;
  background: url("../images/v1_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82%;
  overflow: hidden;
} 
.soundcloudiframe {
    width: 65%;
    height: 166;
    display: block;
    margin-left: auto;
    margin-right: auto;
    scrolling: no;
    frameborder: no;
    allow: autoplay;
}

.list {
    width: 100%;
    text-align: center;
    padding: 0;
}

.item {
    display: inline;
}

.fa-stack {
    color: purple;
}

.fa-stack-1x,fa-stack-2x {
    width: 100px
    float: left;  
}
